    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><%=t '.who_i' %></h2>
                    <hr class="light">
                    <p class="text-faded"><%=t '.i_am' %></p>

                    <h2 class="section-heading"><%=t '.what_i_like' %></h2>
                    <hr class="light">
                    <p class="text-faded"><%=t '.i_like_is' %></p>

                    <h2 class="section-heading"><%=t '.what_i_know' %></h2>
                    <hr class="light">
                    <p class="text-faded"><%=t '.i_know_is' %></p>

                    <h2 class="section-heading"><%=t '.what_i_want' %></h2>
                    <hr class="light">
                    <p class="text-faded"><%=t '.i_want_is' %></p>

                    <a href="#contact" class="btn btn-default btn-xl wow tada"><%= t '.goto_contacts' %></a>
                </div>
            </div>
        </div>
    </section>