 <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= t '.my_program_solutions' %></h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-cloud  wow bounceIn text-primary"></i>
                        <h3><%= t '.cloud_technology' %></h3>
                        <p class="text-muted"><%= t '.cloud_technology_descript' %></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-linux wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3> <%= t '.linux_based' %> </h3>
                        <p class="text-muted"><%= t '.linux_based_descript' %> </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3><%= t '.actual_frameworks' %></h3>
                        <p class="text-muted"><%= t '.actual_frameworks_descript' %><p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-mobile wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3><%= t '.mobile_solution' %></h3>
                        <p class="text-muted"><%= t '.mobile_solution_descript' %></p>
                    </div>
                </div>
            </div>
   </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <!-- left -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://coordinate.anagorny.com" target="new" class="portfolio-box">
                        <%= template_image "portfolio/coordinate.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    <%= t '.coordinate_name' %>
                                </div>
                                <div class="project-category text-faded">
                                    <%= t '.coordinate_desc' %>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="project-sources">
                       <%= link_to  raw("<i class='fa fa-4x fa-github'></i>"), "https://github.com/Melancholic/Coordinate/",  target:"new", title: t('.view_code')  %>           
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- right -->
                </div>
            </div>
        </div>
    </section>