<h1>Hello, this my blog!</h1>
<% if current_user %>

    <%= "Hello, #{current_user.name}(#{current_user.email}) ##{current_user.id}}" %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <%=link_to "Add Facebook", user_omniauth_authorize_path(:facebook) %>
    <%=link_to "Add GitHub", user_omniauth_authorize_path(:github) %>
    <%=link_to "Add Twitter", user_omniauth_authorize_path(:twitter) %>
    <%=link_to "Add VK", user_omniauth_authorize_path(:vkontakte) %>
    <%=link_to "Add Google", user_omniauth_authorize_path(:google) %>
<% else %>
    <%= render 'shared/session_buttons' %>
    <%=link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    <%=link_to "Sign in with GitHub", user_omniauth_authorize_path(:github) %>
    <%=link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
    <%=link_to "Sign in with VK", user_omniauth_authorize_path(:vkontakte) %>
    <%=link_to "Sign in Google", user_omniauth_authorize_path(:google) %>
<% end %>
