    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%=link_to t("surname")+ " "+t("name"), root_url , class:"navbar-brand page-scroll"  %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%=render 'layouts/select_locale', icon_only: true%>
                    </li>
                    <li>
                        <%=link_to t('.about'), "#{root_url}#about", class:"page-scroll"  %>
                    </li>
                    <li>
                        <%=link_to t('.services'), "#{root_url}#services", class:"page-scroll"  %>
                    </li>
                    <li>
                        <%=link_to t('.portfolio'), "#{root_url}#portfolio", class:"page-scroll"  %>
                    </li>
                    <li>
                        <%=link_to t('.contact'), "#{root_url}#contact", class:"page-scroll"  %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>