<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title))%></title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' %>
    <%= csrf_meta_tags %>
   	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Nagorny Andrey">
    <meta name="description" content="About me">
</head>
<body id="page-top">
<%=render 'layouts/header'%>
<%= yield %>
<%=render 'layouts/footer'%>

</body>
</html>
